* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/stars.gif);
  color: aliceblue;
  font-family: "Comic Neue", cursive;
  max-height: 100vh;
}

h1 {
  padding-top: 0.5em;
  font-size: 4em;
}

h2 {
  padding-top: 0.5em;
  padding-bottom: 2em;
  font-size: 1em;
}

a {
  padding: 1em;
}

.main {
  padding-top: 2em;
}

.internet {
  align-self: end;
  font-size: 0;
  border-top: 4px solid #e5e5ff;
  padding-top: 10px;
}

.profile-pic {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5%;
  margin-bottom: 2em;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid #e5e5ff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  text-decoration: none;
  color: #e5e5ff;
  font-size: 2em;
  transition: all 0.3s;
  text-align: center;
  width: 70%;
}

a.button1:hover {
  color: #000000;
  background-color: #e5e5ff;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 80%;
  grid-template-columns: auto;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
